@media only screen and (max-width: 767px) {

   .top-left {
      text-align: center !important;
   }

   div#menubar {
      padding: 5px 0;
      top: unset;
   }

   section#grocery-shop {
      margin-top: 55px;
      background: #ffffff;
   }

   #menubar .menu-item-count .dropdown-1.dropdown-b ul.dropdown-menu {
      left: -172px !important;
   }

   #topbar .top-inner .top-right nav ul {
      text-align: center !important;
   }

   #topbar .top-inner .top-right nav ul li a {
      font-size: 14px;
      padding: 8px;
   }

   #middlebar .middlebar-inner .middlebar-select select {
      padding: 0 5px !important;
   }

   #middlebar .middlebar-inner .middlebar-select {
      width: 30% !important;
   }

   .middlebar-input {
      width: 50% !important;

   }

   #middlebar .middlebar-inner .middlebar-input input {
      padding: 0 5px !important;
   }

   .middlebar-btn {
      width: 20% !important;
   }

   #middlebar .middlebar-inner {
      margin-bottom: 30px;
   }

   #slidbar {
      top: 54px;
   }

   #slidbar #slide-bar .slid-item .slid-content h4 {
      font-size: 14px !important;
   }

   #slidbar #slide-bar .slid-item .slid-content h2 {
      font-size: 20px;
   }

   #iconbar .icon-items {
      grid-template-columns: repeat(2, 1fr);

   }

   #product-item {
      padding: 50px 0 20px !important;
   }

   #product-item .item .item-inner .item-detils a {
      font-size: 14px !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down {
      display: block !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-group {
      width: 100% !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-title {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
   }

   #subscription .container .subscription-area .subscription-fild {
      padding: 0;
   }

   #grocery-shop .shop-menu {
      max-width: 100% !important;
   }

   .subscription-left {
      margin: 0 auto;
      padding-bottom: 10px;
   }

   #brands .brands-logo {
      grid-template-columns: repeat(2, 1fr);
   }

   #footer-menu {

      text-align: center !important;
   }

   div.footer-item {
      padding: 20px 0 !important;
   }

   .middle-item.item-one {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-two {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-three {
      text-align: center;
   }

   .justify-content-end {
      justify-content: center !important;
   }

   #register .form-body .form-holder .form-content .form-items {
      min-width: unset !important;
   }
}

@media only screen and (max-width: 667px) {

   .top-left {
      text-align: center !important;
   }

   div#menubar {
      padding: 5px 0;
      top: unset;
   }

   section#grocery-shop {
      margin-top: 55px;
      background: #ffffff;
   }

   #menubar .menu-item-count .dropdown-1.dropdown-b ul.dropdown-menu {
      left: -172px !important;
   }

   #topbar .top-inner .top-right nav ul {
      text-align: center !important;
   }

   #topbar .top-inner .top-right nav ul li a {
      font-size: 14px;
      padding: 8px;
   }

   #middlebar .middlebar-inner .middlebar-select select {
      padding: 0 5px !important;
   }

   #middlebar .middlebar-inner .middlebar-select {
      width: 30% !important;
   }

   .middlebar-input {
      width: 50% !important;

   }

   #middlebar .middlebar-inner .middlebar-input input {
      padding: 0 5px !important;
   }

   .middlebar-btn {
      width: 20% !important;
   }

   #middlebar .middlebar-inner {
      margin-bottom: 30px;
   }

   #slidbar {
      top: 54px;
   }

   #slidbar #slide-bar .slid-item .slid-content h4 {
      font-size: 14px !important;
   }

   #slidbar #slide-bar .slid-item .slid-content h2 {
      font-size: 20px;
   }

   #iconbar .icon-items {
      grid-template-columns: repeat(2, 1fr);

   }

   #product-item {
      padding: 50px 0 20px !important;
   }

   #product-item .item .item-inner .item-detils a {
      font-size: 14px !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down {
      display: block !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-group {
      width: 100% !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-title {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
   }

   #subscription .container .subscription-area .subscription-fild {
      padding: 0;
   }

   #grocery-shop .shop-menu {
      max-width: 100% !important;
   }

   .subscription-left {
      margin: 0 auto;
      padding-bottom: 10px;
   }

   #brands .brands-logo {
      grid-template-columns: repeat(2, 1fr);
   }

   #footer-menu {

      text-align: center !important;
   }

   div.footer-item {
      padding: 20px 0 !important;
   }

   .middle-item.item-one {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-two {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-three {
      text-align: center;
   }

   .justify-content-end {
      justify-content: center !important;
   }

   #register .form-body .form-holder .form-content .form-items {
      min-width: unset !important;
   }
}

@media only screen and (max-width: 575px) {

   .top-left {
      text-align: center !important;
   }

   div#menubar {
      padding: 5px 0;
      top: unset;
   }

   section#grocery-shop {
      margin-top: 55px;
      background: #ffffff;
   }

   #menubar .menu-item-count .dropdown-1.dropdown-b ul.dropdown-menu {
      left: -172px !important;
   }

   #topbar .top-inner .top-right nav ul {
      text-align: center !important;
   }

   #topbar .top-inner .top-right nav ul li a {
      font-size: 14px;
      padding: 8px;
   }

   #middlebar .middlebar-inner .middlebar-select select {
      padding: 0 5px !important;
   }

   #middlebar .middlebar-inner .middlebar-select {
      width: 30% !important;
   }

   .middlebar-input {
      width: 50% !important;

   }

   #middlebar .middlebar-inner .middlebar-input input {
      padding: 0 5px !important;
   }

   .middlebar-btn {
      width: 20% !important;
   }

   #middlebar .middlebar-inner {
      margin-bottom: 30px;
   }

   #slidbar {
      top: 54px;
   }

   #slidbar #slide-bar .slid-item .slid-content h4 {
      font-size: 14px !important;
   }

   #slidbar #slide-bar .slid-item .slid-content h2 {
      font-size: 20px;
   }

   #iconbar .icon-items {
      grid-template-columns: repeat(2, 1fr);

   }

   #product-item {
      padding: 50px 0 20px !important;
   }

   #product-item .item .item-inner .item-detils a {
      font-size: 14px !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down {
      display: block !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-group {
      width: 100% !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-title {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
   }

   #subscription .container .subscription-area .subscription-fild {
      padding: 0;
   }

   #grocery-shop .shop-menu {
      max-width: 100% !important;
   }

   .subscription-left {
      margin: 0 auto;
      padding-bottom: 10px;
   }

   #brands .brands-logo {
      grid-template-columns: repeat(2, 1fr);
   }

   #footer-menu {

      text-align: center !important;
   }

   div.footer-item {
      padding: 20px 0 !important;
   }

   .middle-item.item-one {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-two {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-three {
      text-align: center;
   }

   .justify-content-end {
      justify-content: center !important;
   }

   #register .form-body .form-holder .form-content .form-items {
      min-width: unset !important;
   }
}

@media only screen and (max-width: 480px) {

   .top-left {
      text-align: center !important;
   }

   div#menubar {
      padding: 5px 0;
      top: unset;
   }

   section#grocery-shop {
      margin-top: 55px;
      background: #ffffff;
   }

   #menubar .menu-item-count .dropdown-1.dropdown-b ul.dropdown-menu {
      left: -172px !important;
   }

   #topbar .top-inner .top-right nav ul {
      text-align: center !important;
   }

   #topbar .top-inner .top-right nav ul li a {
      font-size: 14px;
      padding: 8px;
   }

   #middlebar .middlebar-inner .middlebar-select select {
      padding: 0 5px !important;
   }

   #middlebar .middlebar-inner .middlebar-select {
      width: 30% !important;
   }

   .middlebar-input {
      width: 50% !important;

   }

   #middlebar .middlebar-inner .middlebar-input input {
      padding: 0 5px !important;
   }

   .middlebar-btn {
      width: 20% !important;
   }

   #middlebar .middlebar-inner {
      margin-bottom: 30px;
   }

   #slidbar {
      top: 54px;
   }

   #slidbar #slide-bar .slid-item .slid-content h4 {
      font-size: 14px !important;
   }

   #slidbar #slide-bar .slid-item .slid-content h2 {
      font-size: 20px;
   }

   #iconbar .icon-items {
      grid-template-columns: repeat(2, 1fr);

   }

   #product-item {
      padding: 50px 0 20px !important;
   }

   #product-item .item .item-inner .item-detils a {
      font-size: 14px !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down {
      display: block !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-group {
      width: 100% !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-title {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
   }

   #subscription .container .subscription-area .subscription-fild {
      padding: 0;
   }

   #grocery-shop .shop-menu {
      max-width: 100% !important;
   }

   .subscription-left {
      margin: 0 auto;
      padding-bottom: 10px;
   }

   #brands .brands-logo {
      grid-template-columns: repeat(2, 1fr);
   }

   #footer-menu {

      text-align: center !important;
   }

   div.footer-item {
      padding: 20px 0 !important;
   }

   .middle-item.item-one {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-two {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-three {
      text-align: center;
   }

   .justify-content-end {
      justify-content: center !important;
   }

   #register .form-body .form-holder .form-content .form-items {
      min-width: unset !important;
   }
}

@media only screen and (max-width: 414px) {

   .top-left {
      text-align: center !important;
   }

   div#menubar {
      padding: 5px 0;
      top: unset;
   }

   section#grocery-shop {
      margin-top: 55px;
      background: #ffffff;
   }

   #menubar .menu-item-count .dropdown-1.dropdown-b ul.dropdown-menu {
      left: -172px !important;
   }

   #topbar .top-inner .top-right nav ul {
      text-align: center !important;
   }

   #topbar .top-inner .top-right nav ul li a {
      font-size: 14px;
      padding: 8px;
   }

   #middlebar .middlebar-inner .middlebar-select select {
      padding: 0 5px !important;
   }

   #middlebar .middlebar-inner .middlebar-select {
      width: 30% !important;
   }

   .middlebar-input {
      width: 50% !important;

   }

   #middlebar .middlebar-inner .middlebar-input input {
      padding: 0 5px !important;
   }

   .middlebar-btn {
      width: 20% !important;
   }

   #middlebar .middlebar-inner {
      margin-bottom: 30px;
   }

   #slidbar {
      top: 54px;
   }

   #slidbar #slide-bar .slid-item .slid-content h4 {
      font-size: 14px !important;
   }

   #slidbar #slide-bar .slid-item .slid-content h2 {
      font-size: 20px;
   }

   #iconbar .icon-items {
      grid-template-columns: repeat(2, 1fr);

   }

   #product-item {
      padding: 50px 0 20px !important;
   }

   #product-item .item .item-inner .item-detils a {
      font-size: 14px !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down {
      display: block !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-group {
      width: 100% !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-title {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
   }

   #subscription .container .subscription-area .subscription-fild {
      padding: 0;
   }

   #grocery-shop .shop-menu {
      max-width: 100% !important;
   }

   .subscription-left {
      margin: 0 auto;
      padding-bottom: 10px;
   }

   #brands .brands-logo {
      grid-template-columns: repeat(2, 1fr);
   }

   #footer-menu {

      text-align: center !important;
   }

   div.footer-item {
      padding: 20px 0 !important;
   }

   .middle-item.item-one {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-two {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-three {
      text-align: center;
   }

   .justify-content-end {
      justify-content: center !important;
   }

   #register .form-body .form-holder .form-content .form-items {
      min-width: unset !important;
   }
}

@media only screen and (max-width: 375px) {

   .top-left {
      text-align: center !important;
   }

   div#menubar {
      padding: 5px 0;
      top: unset;
   }

   section#grocery-shop {
      margin-top: 55px;
      background: #ffffff;
   }

   #menubar .menu-item-count .dropdown-1.dropdown-b ul.dropdown-menu {
      left: -172px !important;
   }

   #topbar .top-inner .top-right nav ul {
      text-align: center !important;
   }

   #topbar .top-inner .top-right nav ul li a {
      font-size: 14px;
      padding: 8px;
   }

   #middlebar .middlebar-inner .middlebar-select select {
      padding: 0 5px !important;
   }

   #middlebar .middlebar-inner .middlebar-select {
      width: 30% !important;
   }

   .middlebar-input {
      width: 50% !important;

   }

   #middlebar .middlebar-inner .middlebar-input input {
      padding: 0 5px !important;
   }

   .middlebar-btn {
      width: 20% !important;
   }

   #middlebar .middlebar-inner {
      margin-bottom: 30px;
   }

   #slidbar {
      top: 54px;
   }

   #slidbar #slide-bar .slid-item .slid-content h4 {
      font-size: 14px !important;
   }

   #slidbar #slide-bar .slid-item .slid-content h2 {
      font-size: 20px;
   }

   #iconbar .icon-items {
      grid-template-columns: repeat(2, 1fr);

   }

   #product-item {
      padding: 50px 0 20px !important;
   }

   #product-item .item .item-inner .item-detils a {
      font-size: 14px !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down {
      display: block !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-group {
      width: 100% !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-title {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
   }

   #subscription .container .subscription-area .subscription-fild {
      padding: 0;
   }

   #grocery-shop .shop-menu {
      max-width: 100% !important;
   }

   .subscription-left {
      margin: 0 auto;
      padding-bottom: 10px;
   }

   #brands .brands-logo {
      grid-template-columns: repeat(2, 1fr);
   }

   #footer-menu {

      text-align: center !important;
   }

   div.footer-item {
      padding: 20px 0 !important;
   }

   .middle-item.item-one {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-two {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-three {
      text-align: center;
   }

   .justify-content-end {
      justify-content: center !important;
   }

   #register .form-body .form-holder .form-content .form-items {
      min-width: unset !important;
   }
}

@media only screen and (max-width: 320px) {

   .top-left {
      text-align: center !important;
   }

   div#menubar {
      padding: 5px 0;
      top: unset;
   }

   section#grocery-shop {
      margin-top: 55px;
      background: #ffffff;
   }

   #menubar .menu-item-count .dropdown-1.dropdown-b ul.dropdown-menu {
      left: -172px !important;
   }

   #topbar .top-inner .top-right nav ul {
      text-align: center !important;
   }

   #topbar .top-inner .top-right nav ul li a {
      font-size: 14px;
      padding: 8px;
   }

   #middlebar .middlebar-inner .middlebar-select select {
      padding: 0 5px !important;
   }

   #middlebar .middlebar-inner .middlebar-select {
      width: 30% !important;
   }

   .middlebar-input {
      width: 50% !important;

   }

   #middlebar .middlebar-inner .middlebar-input input {
      padding: 0 5px !important;
   }

   .middlebar-btn {
      width: 20% !important;
   }

   #middlebar .middlebar-inner {
      margin-bottom: 30px;
   }

   #slidbar {
      top: 54px;
   }

   #slidbar #slide-bar .slid-item .slid-content h4 {
      font-size: 14px !important;
   }

   #slidbar #slide-bar .slid-item .slid-content h2 {
      font-size: 20px;
   }

   #iconbar .icon-items {
      grid-template-columns: repeat(2, 1fr);

   }

   #product-item {
      padding: 50px 0 20px !important;
   }

   #product-item .item .item-inner .item-detils a {
      font-size: 14px !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down {
      display: block !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-group {
      width: 100% !important;
   }

   #subscription .container .subscription-area .subscription-fild .dropdown-down .input-title {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
   }

   #subscription .container .subscription-area .subscription-fild {
      padding: 0;
   }

   #grocery-shop .shop-menu {
      max-width: 100% !important;
   }

   .subscription-left {
      margin: 0 auto;
      padding-bottom: 10px;
   }

   #brands .brands-logo {
      grid-template-columns: repeat(2, 1fr);
   }

   #footer-menu {

      text-align: center !important;
   }

   div.footer-item {
      padding: 20px 0 !important;
   }

   .middle-item.item-one {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-two {
      text-align: center;
      margin-bottom: 20px;
   }

   .middle-item.item-three {
      text-align: center;
   }

   .justify-content-end {
      justify-content: center !important;
   }

   #register .form-body .form-holder .form-content .form-items {
      min-width: unset !important;
   }
}